body {
  background-color: #f2f2f2;
}

.container {
  margin: auto;
  max-width: 600px;
  padding: 50px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #1db954;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  font-size: 18px;
  color: #1db954;
  font-weight: bold;
  margin-right: 10px;
}

.form-group input[type="checkbox"] {
  margin-right: 10px;
}

.form-group input[type="number"] {
  width: 60px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

#generate-btn {
  display: block;
  margin: 30px auto;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #1db954;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#generate-btn:hover {
  background-color: #ffffff;
  color: #1db954;
  border: 1px solid #1db954;
}

#result-box {
  margin-top: 20px;
  text-align: center;
}

#result-box p {
  font-size: 18px;
  font-weight: bold;
  color: #1db954;
}

#result-box strong {
  color: #ffffff;
  background-color: #1db954;
  padding: 5px;
  border-radius: 5px;
}
